body{
  color: white;
  background-image: url("Images/trial2.png");
  background-size: cover;
}

/*BEGIN IDs*/

#artistsHome{
  margin-top: 150px;
}

#instagram{
  width: 20px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

#facebook{
  width: 19px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

#julie{
  width: 25%;
  margin-right: 10px;
}

#maherPic{
  border-radius: 5px;
}

/*BEGIN CLASSES*/

.banner{
  height: 1000px;
}

.bgDarkBlue{
  background-color: #3c3d57 !important;
  color: white !important;
  border-radius: 5px;
}

.bgWhite{
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 5px;
}

.greatVibes{
  font-family: 'Great Vibes', cursive;
}

.linksDarkBlue a:link{
  color: #3c3d57 !important;
}

.linksDarkBlue a:visited{
  color: #3c3d57 !important;
}

.linksDarkBlue a:hover{
  color: #3c3d57 !important;
}

.linksWhite a:link{
  color: white !important;
}

.linksWhite a:visited{
  color: white !important;
}

.linksWhite a:hover{
  color: white !important;
}

.navBackground{
  background-color: white;
}

.nav-item{
  padding: 15px;
  text-align: center;
}

.nav-link{
  text-align: center;
}

.navbar-nav, .navbar-brand, .container-fluid, .navbar-toggler{
  margin-top: 30px;
}

.plainBackground{
  text-align: center;
  padding: 25px;
}

.padTop{
  padding-top: 75px;
}

.padBottom{
  padding-bottom: 10px;
}

.padBetween{
  padding-right: 10px;
  padding-left: 10px;
}

.socialNav{
  background-color: #3c3d57;
  width: 100%;
  height: 30px;
}

.textSection{
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*BEGIN MEDIA QUERIES*/

@media screen and (min-width: 800px) {
  .container-fluid{
    padding-right: 100px !important;
    padding-left: 100px !important;
  }
}

@media screen and (max-width: 1100px) {
  .nav-item{
    padding: 10px;
  }
}

@media screen and (max-width: 1015px) {
  .nav-item{
    padding: 5px;
  }
}

@media screen and (max-width: 930px) {
  .nav-item{
    padding: 0px;
  }
}
